body{
    background: linear-gradient();
    background-color: aquamarine;
    
}div{
    background-color: rgb(203, 163, 227);
    display: inline-block;
                width: 20%;
               height: 14em;
              font-size: 30px;
              margin: 150px;
              border-radius: 10px;
                padding: 50px;
                margin-left: 250px;
                padding:200px;
                margin-top: 20px;
                padding :20px 100px 100px 20px;
                 box-shadow: rgb(60, 9, 9);
               color: rgb(38, 107, 144);

    
}input{
    font-size: 20px;
    background-color: aqua;
    padding: 10%;
    
    
}button{
    margin-left: 20px;
    margin-top: 20px;
    display: center;
    background-color: aqua;
    box-shadow: rgb(14, 125, 123);
    box-shadow: 0 0 5px cyan,
0 0 25px cyan,0 0 50px cyan,
0 0 100px cyan,0 0 200px cyan;
border: none;
padding: 10px;
border-radius: 10px;
cursor: pointer;
}ul{
    padding: 20px;
    display: inline-block;
}